html {
  font-size: 100%;
  scroll-behavior: smooth;
  font-family: Calibri;
  overflow: auto;
}

.app {
  color: #fff;
  text-align: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("https://image.freepik.com/free-photo/amazing-beautiful-sky-with-clouds_58702-1653.jpg");
  background-position: center;
  background-size: 100% 100%;
}

.active {
  color: white !important;
  background-color: #000 !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 1rem;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.45) url("https://image.freepik.com/free-photo/amazing-beautiful-sky-with-clouds_58702-1653.jpg");
  background-blend-mode: darken;
}

.header__heading {
  text-align: left;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.header__input {
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.15) url("https://image.freepik.com/free-photo/amazing-beautiful-sky-with-clouds_58702-1653.jpg");
  background-blend-mode: lighten;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 20px;
  padding: 10px;
  width: 15rem;
  outline: none;
  -webkit-filter: brightness(10px);
          filter: brightness(10px);
  cursor: pointer;
}

.currentweather {
  display: inline-block;
  font-weight: 100;
}

.currentweather__location {
  font-size: 1.5rem;
  margin-top: 0.75rem;
}

.currentweather__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.currentweather__main > * {
  margin-right: 2rem;
}

.currentweather__main > *:last-child {
  margin: 0;
}

.currentweather__main > h1 {
  font-family: Calibri;
  font-size: 4rem;
  font-weight: 10;
}

.currentweather__main__tempconvert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentweather__main__tempconvert > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  outline: none;
  padding: 0.25rem;
}

.currentweather__main__tempconvert > *:hover {
  cursor: pointer;
}

.currentweather__main__icon {
  width: 4rem;
}

.currentweather__tempcondition {
  font-size: 1.75rem;
}

.currentweather__updatetime {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.currentweather__weatheritems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentweather__weatheritems > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentweather__weatheritems > * > * {
  margin-right: 1.5rem;
}

.currentweather__weatheritems > * > :last-child {
  margin: 0;
}

.dailyweather {
  margin-top: 2.5rem;
  display: inline-block;
  border: 1px #000;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dailyweather > h1 {
  font-weight: 100;
}

.dailyweather__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hourlyweather {
  overflow-x: hidden;
}

.weathercomponent {
  border: 1px solid transparent;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.15) url("https://image.freepik.com/free-photo/amazing-beautiful-sky-with-clouds_58702-1653.jpg");
  background-blend-mode: lighten;
  margin: 1rem;
}

.weathercomponent-hourly {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0;
}

.weathercomponent-hourly__rain {
  font-size: 0.7rem;
  margin-top: 1rem;
}

.weathercomponent-hourly__wind {
  font-size: 0.75rem;
}

.weathercomponent-hourly__time {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

.weathercomponent__date {
  font-size: 0.98rem;
}

.weathercomponent__temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.weathercomponent__temp > * {
  font-weight: 100;
}

.weathercomponent__temp > *:first-child {
  margin-right: 0.4rem;
}

.weathercomponent__temp__max {
  font-size: 1.2rem;
}

.weathercomponent__temp__min {
  opacity: 0.6;
  font-size: 0.9rem;
}

.weathercomponent__icon {
  width: 2.75rem;
}

.weathercomponent__icon-hourly {
  margin-left: 0;
}

.weathercomponent__weathertype {
  font-size: 0.8rem;
}

.weathercomponent__weathertype-hourly {
  font-size: 0.9rem;
  margin-top: 0;
}

.weathercomponent:hover {
  opacity: 1;
  border: 1px solid #fff;
  -webkit-filter: brightness(4px);
          filter: brightness(4px);
}
/*# sourceMappingURL=App.css.map */